/* Begin of the about me section of the site */
body{
    background-image: url('../images/prism.png');
}
ul{
    margin:20px;
}

li{
    display: inline;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:15pt;
 }

 a{
    text-decoration: none;
    color:black;
 }

 h1{
     padding-top: 20px;
 }

.nav-menu li + li:before{
    content: "|";
    padding:10px;
}
.main-container{
    background-color: white;
    width: 70%;
    height: 500px;
    margin: 30px 15% 0 15%;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding: 0 20px 0 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.head-left{
    background-color: whitesmoke;
    width: 60%;
    float: left;
    padding:0% 0% 0% 10%;
    margin:0px;
    height:75px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    font-size: 1.25vh;
}

.head-right{
    background-color:whitesmoke;
    width: 30%;
    float: left;
    /*padding:15px 0% 0% 2.5%;*/
    height:75px;
    margin:0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: grey;
}

.left{
    float: left;
    width:40%;
}
.head-about{
    margin:10px;
    font-size: 17pt;
    font-weight:bold;
}

.center{
    float: left;
    width:20%;
    background-color: rgb(187, 174, 174);
    text-align: center;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: black;
    border-top-style: solid;
    border-top-width: 0.5px;
    border-top-color: black;
    height: 100%;
    font-size:18pt;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.right{
    float: left;
    width:40%;
}

.about-top{
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: grey;
}

#headshot{
    margin: 10px;
    float: left;
    border-style: solid;
    border-color:black;
    border-width: 1px;
}

#about-writeup{
    padding:15px;
    line-height: 2;
}

/* End of the about me section of the site */
/* elements of the about me section are reused in the contact and portfolio sections */
/* begin of the contact section of the site */
.contact-container{
    background-color: white;
    width: 50%;
    height: 550px;
    margin: 30px 25% 0 25%;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding: 0 20px 0 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.input-name, .input-email{
    width: 50%;
    margin:10px;
    height: 25px;
}

.input-msg{
    width:90%;
    margin:10px;
    padding: 5px;
    height:200px;
}

.btn-submit{
    margin-left: 10px;
    border-radius: 4px;
    height:30px;
    width:80px;
    font-weight: bold;
}

label{
    margin-left: 10px;
}

input.input-name:focus{
    background-color: lightgray;
}

input.input-msg:focus{
    background-color: lightgray;
}

input.input-email:focus{
    background-color: lightgray;
}

.input-msg:focus{
    background-color: lightgray;
}


input.btn-submit:hover{
    background-color: black;
    color:whitesmoke;
}
/* end of the contact section of the site */
/* begin of the portfolio section of the site */

.portfolio-container{
    background-color: white;
    width: 50%;
    height: 650px;
    margin: 30px 25% 0 25%;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding: 0 20px 0 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.port-top{
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: grey;
}

.port-bottom-1{
   position: relative; 
   height: 220px;
   width:400px;
   background-color: whitesmoke;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   margin: 10px;
   float:left;
   margin-left: 10px;
}

.sub-proj1{
    background-color:gray;
    position: absolute;
    top: 150px;
    left:0px;
    width:400px;
    height: 50px;
    line-height: 100%;
}

.proj-lbl{
    text-align: center;
}
@media screen and (min-width: 1105px) and (max-width: 1687px){

    .portfolio-container{
        background-color: white;
        width: 50%;
        height: 1000px;
        margin-left: 100px;
        float: left;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        padding: 0 20px 0 20px;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }

}

/* end of the portfolio section of the site */
/* media queries for sizing begin */
@media screen and (min-width: 601px) and (max-width: 1104px) {

    .center{
        font-size:14pt;
        width:150px;
    }
    h1{
        padding-top:30px;
    }

    .nav-menu li + li:before{
        content: "|";
        padding: 0;
    }

    li{
        display:inline;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-size:12pt;
    }
    .main-container{
        width:85%;
        margin-left:35px;
        height:600px;
    }
    .portfolio-container{
        background-color: white;
        width: 50%;
        height: 1050px;
        margin-left: 180px;
        float: left;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        padding: 0 20px 0 20px;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }

    .contact-container{
        background-color: white;
        width: 80%;
        height: 550px;
        margin-left: 60px;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        padding: 0 20px 0 20px;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .center{
        width: 120px;
        font-display: 10pt;
    }

    .nav-menu li + li:before{
        content: "|";
        padding: 0;
    }

    li{
        display:inline;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-size:8pt;
    }
    h1{
        padding-top:30px;
    }
    .center{
        font-size:10pt;
    }

    /* expands the headshot and about me section */
    .main-container{
        width:75%;
        margin-top:5px;
        margin-left:25px;
        height:700px;
    }

    /* expands the contact form  */
    .contact-container{
        background-color: white;
        width: 80%;
        height: 500px;
        margin: 10px;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        padding: 0 20px 0 20px;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }
    #about-writeup{
        font-size:10pt;
        line-height:1;
    }
    .head-left{
        width:40%;
    }
    .head-right{
        width:50%;
    }

    #headshot{
        margin:30px;
    }

    .portfolio-container{
        background-color: white;
        width: 75%;
        height: 650px;
        margin-left: 20px;
        float: left;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }

    .port-bottom-1{
        position: relative; 
        height: 120px;
        width:250px;
        background-color: whitesmoke;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin: 5px;
        float:left;
      }
     
     .sub-proj1{
         background-color:gray;
         position: absolute;
         top: 80px;
         left:0px;
         width:250px;
         height: 30px;
         line-height: 100%;
     }

}



